<div class="max-w-xs mx-auto mt-4 p-4 bg-white rounded-md shadow-md">

  <!-- Prompt for Staying Up to Date -->
  <p class="mt-2 text-gray-600 text-xs">Subscribe to be notified of a new post.</p>

  <!-- Email Subscription Form -->
  <form id="emailForm" class="flex items-center space-x-2">
    <input type="email" id="email" name="email" class="border p-1 rounded-md text-sm" placeholder="Your Email" required>
    <button type="button" onclick="submitForm()" class="bg-blue-500 text-white px-3 py-1 rounded-md text-sm">Subscribe</button>
  </form>

</div>

<script>
  function submitForm() {
      // Get the email value
      var email = document.getElementById('email').value;

      // Open the URL with the user's email
      window.open(`https://docs.google.com/forms/d/e/1FAIpQLSeq_qlwqRbQKuMzUI7hJ_3lK3WqPdIL0_EscHfSw4GzsdB6_Q/formResponse?usp=pp_url&entry.274326113=${email}`, '_blank');
  }
</script>


