<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  {% seo %}

  <meta property="og:image" content='{{ '/assets/favicon_io/android-chrome-512x512.png' | relative_url }}'>

  {% case site.blog_theme %}
    {% when 'light' %}
      <link rel='stylesheet' href='{{ '/assets/light.css' | relative_url }}'>
    {% when 'dark' %}
      <link rel='stylesheet' href='{{ '/assets/dark.css' | relative_url }}'>
    {% when 'auto' %}
      <link rel='stylesheet' href='{{ '/assets/light.css' | relative_url }}'>
      <link rel='stylesheet' href='{{ '/assets/dark.css' | relative_url }}' media="(prefers-color-scheme: dark)">
  {% endcase %}

  <style type='text/css' media='screen'>
     :root {
      {% if site.light-theme-accent-color %}
        --light-theme-accent-color: {{ site.light-theme-accent-color }};
      {% endif %}

      {% if site.dark-theme-accent-color %}
        --dark-theme-accent-color: {{ site.dark-theme-accent-color }};
      {% endif %}
     }
  </style>

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href='{{ '/assets/favicon_io/apple-touch-icon.png' | relative_url }}'>
  <link rel="icon" type="image/png" sizes="32x32" href='{{ '/assets/favicon_io/favicon-32x32.png' | relative_url }}'>
  <link rel="icon" type="image/png" sizes="16x16" href='{{ '/assets/favicon_io/favicon-16x16.png' | relative_url }}'>
  <link rel="manifest" href='{{ '/assets/favicon_io/site.webmanifest' | relative_url }}'>

  {% feed_meta %}
  {% include google_analytics.html %}
  {% include custom_scripts.html %}
</head>
